<h1>New Hits!</h1>
<hr />

<%= form_for @billboard do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :active %>
  <%= f.text_field :active %>

  <%= f.submit %>

<% end %>
